# <center>CHALLENGE 4.1<center>

<p>Team Name: Parasyte
<p>Student Names: Abby Ortego, Catherine Nixon
<p>Student W#s: W0716476, W0704280

## Instructions
Use <b>generic</b> coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Use appropriate Python library methods for each task instead of using loops.<br>
Run your entire code and save <b>BEFORE</b> submitting. Then, submit this <b>saved</b> copy.

## Definitions

AGE_12   : Passengers with age in \[1, 13)<br>
AGE_TEEN : Passengers with age in \[13, 20)<br>
AGE_YOUNG: Passengers with age in \[20, 31)<br>
AGE_OTHER: Passengers with age >= 31

## Imports

In [1]:
import pandas as pd
import numpy as np

## Loading Data

Load "titanic.csv" into the data frame object "data"</br>
[train.csv](https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/titanic/train.csv)

In [2]:
data = pd.DataFrame(pd.read_csv('INPUT/train.csv'))
display(data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Calculate Counts

Calculate joint counts for each {Survived_i, Age_j}, i = {Yes, No}, j = {_12, _Teen, _Young, _Other}:

In [3]:
#survived and age lists
survived = [1,0]
age = {1:data.loc[((data['Age'] >= 1) & (data['Age'] < 13)), 'Survived'],
       2:data.loc[((data['Age'] >= 13) & (data['Age'] < 20)), 'Survived'],
       3:data.loc[((data['Age'] >= 20) & (data['Age'] < 31)), 'Survived'],
       4:data.loc[(data['Age'] >= 31), 'Survived']}

#list comprehension
joint_counts = [[((age[j] == i).sum()) for j in age.keys()] for i in survived]
print(joint_counts)

[[33, 39, 87, 124], [29, 56, 160, 179]]

Calculate marginal counts for survive categories:

In [4]:
survived_marginal_counts = np.sum(joint_counts, axis = 1)
survived_total = survived_marginal_counts[0]
nSurvived_total = survived_marginal_counts[1]

print("Survived:", survived_total, "| Not Survived:", nSurvived_total)

Survived: 283 | Not Survived: 424

Calculate marginal counts for age categories:

In [5]:
age_marginal_counts = np.sum(joint_counts, axis = 0)
Age_12_total = age_marginal_counts[0]
Age_Teen_total = age_marginal_counts[1]
Age_Young_total = age_marginal_counts[2]
Age_Other_total = age_marginal_counts[3]

print("Ages [1,13):", Age_12_total, 
      "| Ages [13, 20):", Age_Teen_total, 
      "| Ages [20, 31):", Age_Young_total, 
      "| Ages >= 31:", Age_Other_total)

Ages [1,13): 62 | Ages [13, 20): 95 | Ages [20, 31): 247 | Ages >= 31: 303

Calculate total count of samples:

In [6]:
Total = survived_total + nSurvived_total
print(Total)

707

Store all of the counts calculated above into the data frame "Count"<br>
.    Column headers: Age categories and TOTAL<br>
.    Row headers: survive categories, TOTAL<br>
Print the object Count's content:

In [7]:
#setting headers
c_headers = ['Age_12', 'Age_Teen', 'Age_Young', 'Age_Other']
c_rows = ['Survived_Yes', 'Survived_No', 'TOTAL']

#adding total row
joint_counts.append([Age_12_total, Age_Teen_total, Age_Young_total, Age_Other_total])

Count = pd.DataFrame(data = joint_counts, columns = c_headers, index = c_rows)

#adding total column
Count['TOTAL'] = [survived_total, nSurvived_total, Total]

display(Count)

              Age_12  Age_Teen  Age_Young  Age_Other  TOTAL
Survived_Yes      33        39         87        124    283
Survived_No       29        56        160        179    424
TOTAL             62        95        247        303    707

Save Counts into the text file "Count.csv" under the folder "OUTPUT".<br>
.    Column headers: Age categories and TOTAL<br>
.    Row headers: survive categories, TOTAL:

In [8]:
Count.to_csv('OUTPUT/Count.csv')

## Calculate Probabilities

Generate the Probability Table T2- P() as described. Store into the data frame object "P". Print the object's content:

In [9]:
P = Count / Count.loc["TOTAL", "TOTAL"]
display(P)

                Age_12  Age_Teen  Age_Young  Age_Other     TOTAL
Survived_Yes  0.046676  0.055163   0.123055   0.175389  0.400283
Survived_No   0.041018  0.079208   0.226308   0.253182  0.599717
TOTAL         0.087694  0.134371   0.349364   0.428571  1.000000

Generate the Probability Table T3_1- P(Survive | Age) as described. Store into the data frame object "P_SgA". Print the object's content:

In [10]:
P_sr_row = pd.Series(P.iloc[2])
P_SgA = P.div(P_sr_row).drop("TOTAL", axis = 1)
display(P_SgA)

                Age_12  Age_Teen  Age_Young  Age_Other
Survived_Yes  0.532258  0.410526   0.352227   0.409241
Survived_No   0.467742  0.589474   0.647773   0.590759
TOTAL         1.000000  1.000000   1.000000   1.000000

Generate the Probability Table T3_2- P(Survive | Age) P(Age) as described. Store into the data frame object "P_SgA_A". Print the object's content:

In [11]:
P_SgA_A = P_SgA.mul(P_sr_row).drop("TOTAL", axis = 1)
display(P_SgA_A)

                Age_12  Age_Other  Age_Teen  Age_Young
Survived_Yes  0.046676   0.175389  0.055163   0.123055
Survived_No   0.041018   0.253182  0.079208   0.226308
TOTAL         0.087694   0.428571  0.134371   0.349364

Generate the Probability Table T4_1- P(Age | Survive) as described. Store into the data frame object "P_AgS". Print the object's content:

In [31]:
P_sr_columns = pd.Series(P.iloc[:,len(Count.columns) - 1])
P_AgS = P.div(P_sr_columns, axis = 'index').drop("TOTAL", axis = 0)
display(P_AgS)

                Age_12  Age_Teen  Age_Young  Age_Other  TOTAL
Survived_Yes  0.116608  0.137809   0.307420   0.438163    1.0
Survived_No   0.068396  0.132075   0.377358   0.422170    1.0

Generate the Probability Table T4_2- P(Age | Survive) P(Survive) as described. Store into the data frame object "P_AgS_S". Print the object's content:

In [32]:
P_AgS_S = P_AgS.mul(P_sr_columns, axis = 'index').drop("TOTAL", axis = 0)
display(P_AgS_S)

                Age_12  Age_Teen  Age_Young  Age_Other     TOTAL
Survived_No   0.041018  0.079208   0.226308   0.253182  0.599717
Survived_Yes  0.046676  0.055163   0.123055   0.175389  0.400283

## Compare

Compare the row TOTAL of T3_1- P(Survive | Age) with the row TOTAL of T2- P(). Explain:

T3_1 P(Surive | Age) represents the probability that you survive given you are a certain age, so the TOTAL row is all 1's since it is assumed you are that age, but the TOTAL row of T2 P() represents the probability of just being a certain age so it differs in values from cell to cell.

Compare the row TOTAL of T3_2- P(Survive | Age) P(Age) with the row TOTAL of T2- P(). Explain:

The TOTAL row of T3_2 and T2 are the same since they both represent the probability of being a certain age and are not dependent on survival.

Compare the column TOTAL of T4_1- P(Age | Survive) with the column TOTAL of T2- P(). Explain:

T4_1 P(Age | Survive) represents the probability that you are a certain age given your survival, so the the TOTAL column is all 1's since it is assumed you survived / didn't survive, but the TOTAL column of T2 P() represents the probability of just surviving so it differs in values.

Compare the column TOTAL of T4_2- P(Age | Survive) P(Survive) with the column TOTAL of T2- P(). Explain:

The TOTAL column of T4_2 and T2 are the same since they both represent the probability of surviving and are not dependent on a certain age.

## <center> REFERENCES </center>
List resources (book, internet page, etc.) that you used to complete this challenge.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.divide.html
https://stackoverflow.com/questions/40200070/what-does-axis-0-do-in-numpys-sum-function
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html
https://www.geeksforgeeks.org/different-ways-to-iterate-over-rows-in-pandas-dataframe/
https://www.geeksforgeeks.org/loop-or-iterate-over-all-or-certain-columns-of-a-dataframe-in-python-pandas/
https://note.nkmk.me/en/python-pandas-len-shape-size/
https://en.wikipedia.org/wiki/Chain_rule_(probability)
https://www.investopedia.com/terms/c/conditional_probability.asp